.contenedor{
    border: 1px solid #ccc;
    position: relative;
    padding: 10px;
    margin: 10px;
    background-color: #dfbebe;
  }
  .btn-agregar{
    position: absolute;
    top: 12px;
    left: 160px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .card {
    margin-bottom: 10px; /* Espacio entre las cartas */
    margin-left: 20px; /* Ajuste a la izquierda */
  }
  div{
    background-color: #dfbebe;
  }
 