
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    position: absolute;
    margin: 20px;
    right: 0;
}
button{
    margin-left: 10px;
}
a{
    margin: 5px;
}


