<div class ="container" *ngIf="persona">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de la persona</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <div class="form-group">
                    <label for="Apellido">Apellido</label>
                    <input type="text" class="form-control" id="Apellido" name="Apellido" [(ngModel)]="persona.apellido" required>
                </div>
                <div class="form-group">
                    <label for="Descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="Descripcion" name="Descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="Ubicacion">Ubicacion</label>
                    <input type="text" class="form-control" id="Ubicacion" name="Ubicacion" [(ngModel)]="persona.ubicacion" required>
                </div>
                <div class="form-group">
                    <label for="img">img</label>
                    <input type="file" class="form-control" id="imgbaner" name="imgbaner" [(ngModel)]="persona.imgbaner" (change)="uploadImagenbaner($event)" accept=".jpg, .jpeg, .png">
                </div>
                <div class="imagen">
                    <img [src] ="imgService.urlbaner" alt="" width="150px">
                </div>
                <div class="form-group">
                    <label for="img">img</label>
                    <input type="file" class="form-control" id="imgperfil" name="imgperfil" [(ngModel)]="persona.imgperfil" (change)="uploadImagenperfil($event)" accept=".jpg, .jpeg, .png">
                </div>
               
                <div class="imagen">
                    <img [src] ="imgService.urlperfil" alt="" width="150px">
                </div>
              
                <br>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>