.skill-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .row{
    margin: 10px;
    background-color: #dfbebe;
  }
  h1{
    text-align: center;
  }
  div{
    background-color: #dfbebe;
  }
 