.skill-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  /*.row{
    border: 1px solid #050202;
  }*/
  h1{
    text-align: center;
  }
  